@model IEnumerable<ProyectowebB.Entities.CarritoDetalleEnt>
@{
    ViewBag.Title = "DesgloceCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="custom-card col-md-13">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="card-title m-0">Carrito de Compras</h4>
                </div>
                <br />
                <table id="miTabla" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio Unidad</th>
                            <th>SubTotal</th>
                            <th>Impuesto (IVA)</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NombreProducto</td>
                                <td>@item.CantidadCarrito</td>
                                <td>₡@string.Format("{0:n2}", @item.PrecioProducto)</td>
                                <td>₡@string.Format("{0:n2}", @item.SubTotal)</td>
                                <td>₡@string.Format("{0:n2}", @item.Impuesto)</td>
                                <td>₡@string.Format("{0:n2}", @item.Total)</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Session["CantidadCarritoTemporal"] != null && int.Parse(Session["CantidadCarritoTemporal"].ToString()) > 0)
                {
                    using (Html.BeginForm("ConfirmarPago", "Factura", FormMethod.Post))
                    {
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block"><i class="far fa-credit-card"></i> Pagar</button>
                        </div>
                    }
                }
                else
                {
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-success btn-lg btn-block" disabled><i class="far fa-credit-card"></i> Pagar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

